
<div class="container carpage">
    <h1>{{front.brand}} {{front.title}}</h1>
    <img  class="carpage_img" src="http://localhost:3000/img/lgzt/{{front.title}}.png" alt="error img">
    <p>Цена с учетом пошлины, ндс, сертификации и доставки DDP Almaty - <strong class="price">{{front.price}}</strong></p>
     <table class="striped car_table">
        <thead>
            <tr>
              <td>Параметр</td>
              <td>Значение</td>
            </tr>
        </thead>

        <tbody>

          <tr>
            <td>Грузоподъемность</td>
            <td>{{front.weightLift}} кг</td>
          </tr>

          <tr>
            <td>Емкость ковша</td>
            <td>{{front.bucketCapacity}} м<sup>3</sup></td>
          </tr>

          {{#if front.maxHeightDischarge}}
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>{{front.maxHeightDischarge}} мм</td>
            </tr>
          {{/if}}

          {{#if front.rangeDischarge}}
            <tr>
              <td>Дальность выгрузки</td>
              <td>{{front.rangeDischarge}} мм</td>
            </tr>
          {{/if}}

          {{#if front.workTime}}
            <tr>
              <td>Суммарное время рабочего цикла</td>
              <td>{{front.workTime}} с</td>
            </tr>
          {{/if}}

          {{#if front.maxLiftingForce}}
            <tr>
              <td>Макс. подъемная cила</td>
              <td>≥{{front.maxLiftingForce}} кН</td>
            </tr>
          {{/if}}

          {{#if front.minRadiusRotate}}
            <tr>
              <td>Мин. радиус разворота</td>
              <td>{{front.minRadiusRotate}} мм</td>
            </tr>
          {{/if}}

          {{#if front.speedMove}}
            <tr>
              <td>Скорость передвижения</td>
              <td>{{front.speedMove}} км/час</td>
            </tr>
          {{/if}}

          {{#if front.angleRotation}}
            <tr>
              <td>Угол поворота</td>
              <td>{{front.angleRotation}} °</td>
            </tr>
          {{/if}}

          {{#if front.overallDimensions}}
            <tr>
              <td>Габаритные размеры (Д*Ш*В)</td>
              <td>{{front.overallDimensions}} мм</td>
            </tr>
          {{/if}}

          {{#if front.bucketSize}}
            <tr>
              <td>Размеры ковша</td>
              <td>{{front.bucketSize}} мм</td>
            </tr>
          {{/if}}

          {{#if front.wheelBase}}
            <tr>
              <td>Колесная база</td>
              <td>{{front.wheelBase}} мм</td>
            </tr>
          {{/if}}

          {{#if front.koleya}}
            <tr>
              <td>Колея</td>
              <td>{{front.koleya}} мм</td>
            </tr>
          {{/if}}

          {{#if front.minClearance}}
            <tr>
              <td>Миним. клиренс</td>
              <td>{{front.minClearance}} мм</td>
            </tr>
          {{/if}}

          {{#if front.operatingWeight}}
            <tr>
              <td>Эксплуатационная масса</td>
              <td>{{front.operatingWeight}} кг</td>
            </tr>
          {{/if}}

          {{#if front.engine}}
            <tr>
              <td>Двигатель</td>
              <td>{{front.engine}}</td>
            </tr>
          {{/if}}

          {{#if front.enginetype}}
            <tr>
              <td>Топливо для двигателя</td>
              <td>{{front.enginetype}}</td>
            </tr>
          {{/if}}

          {{#if front.power}}
            <tr>
              <td>Мощность</td>
              <td>{{front.power}} квт</td>
            </tr>
          {{/if}}

          {{#if front.fuelConsumption}}
            <tr>
              <td>Удельный Расход топлива</td>
              <td>≤{{front.fuelConsumption}} г/кВт.ч</td>
            </tr>
          {{/if}}

          {{#if front.hydraulicPressure}}
            <tr>
              <td>Давление в гидросистеме</td>
              <td>{{front.hydraulicPressure}} МПа</td>
            </tr>
          {{/if}}

          {{#if front.wheel}}
            <tr>
              <td>Шины</td>
              <td>{{front.wheel}} </td>
            </tr>
          {{/if}}

          {{#if front.controling}}
            <tr>
              <td>Управление</td>
              <td>{{front.controling}} </td>
            </tr>
          {{/if}}

          {{#if front.cabin}}
            <tr>
              <td>Кабина</td>
              <td>{{front.cabin}} </td>
            </tr>
          {{/if}}

          {{#if front.optionaly}}
            <tr>
              <td>Дополнительно</td>
              <td>{{front.optionaly}} </td>
            </tr>
          {{/if}}

        </tbody>
    </table>
    <a class="waves-effect orange btn" href="/request">Оставить заявку</a>
</div>


